* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    height: 1000vh;
    width: 100%;
  }

  body {
    font-family: Arial, sans-serif;
  }

  .navbar {
    padding: 24px;
    height: 64px;
    background-color: white;
    display: flex;
    justify-content: space-between;
  }

  .left-side, .right-side {
    height: 32px;
  }

  .logo img {
    margin-top: -6px;
  }

  .logo {
    color: #959595;
    text-decoration: none;
    display: flex;
  }

  .logo b{
    color: #4a4a4a;
  }

  .menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }

  .menu-link {
    color: #414141;
    text-decoration: none;
    display: flex;
  }

  .hero {
    display: flex;
    height: 100%;
    background-color: #d8d8d8;
  }

  .hero-left {
    flex: 60%;
  }

  .hero__right {
    flex: 40%;
  }

  .hero-left img {
    width: 100%;
    padding: 32px 24px 32px 24px;
  }

  .hero-right-con {
    margin: 150px 0;
    width: 60%;
    flex-wrap: wrap;
  }

  .hero-right-con span {
    font-size: 45px;
    font-weight: bold;
    color: #4a4a4a;
  }

  .hero-right-con p {
    font-size: 25px;
    font-weight: bold;
    color: #4a4a4a;
    margin: 35px 0;
  }

  .hero-right-con button {
    background-color: #4a4a4a;
    width: 90%;
    height: 40px;
    font-size: 18px;
    margin: 8px auto;
    border: none;
  }

  .hero-right-con button a {
    display: block;
    padding: 9px;
    color: white;
    text-decoration: none;
  }

  .hero-right-con button a:hover {
    background-color: #312e2e;
  }