* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    height: 100%;
    width: 100%;
  }

  body {
    font-family: Arial, sans-serif;
  }

  .navbar {
    padding: 24px;
    height: 64px;
    background-color: white;
    display: flex;
    justify-content: space-between;
  }

  .left-side, .right-side {
    height: 32px;
  }

  .logo img {
    margin-top: -6px;
  }

  .logo {
    color: #959595;
    text-decoration: none;
    display: flex;
  }

  .logo b{
    color: #4a4a4a;
  }

  .menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }

  .menu-link {
    color: #414141;
    text-decoration: none;
    display: flex;
  }

  .hero {
    display: flex;
    height: 100%;
    background-color: #d8d8d8;
  }

  .hero-left {
    display: flex;
    flex: 60%;
  }

  .hero-right {
    display: flex;
    flex: 40%;
  }

  .hero-left img {
    width: 100%;
    padding: 32px 24px 32px 24px;
  }

  .hero-right-con {
    margin: 150px 0;
    width: 60%;
    flex-wrap: wrap;
  }

  .hero-right-con span {
    font-size: 45px;
    font-weight: bold;
    color: #4a4a4a;
  }

  .hero-right-con p {
    font-size: 25px;
    font-weight: bold;
    color: #4a4a4a;
    margin: 35px 0;
  }

  .hero-right-con button {
    background-color: #4a4a4a;
    width: 90%;
    height: 40px;
    font-size: 18px;
    margin: 8px auto;
    border: none;
  }

  .hero-right-con button a {
    display: block;
    padding: 9px;
    color: white;
    text-decoration: none;
  }

  .hero-right-con button a:hover {
    background-color: #312e2e;
  }

  /* information */
.information {
    display: flex; 
    background-color: white;
}

.info-left {
    flex: 60%;
}

.info-left-con {
    margin: 0 24px;
}

.info-right {
    width: 40%;
    display: flex;
    flex: 40%;
}

.info-left img {
   display: flex;
    width: 100%;
   padding: 32px 24px 32px 24px;
}

.info-left-con h1 {
    font-size: 45px;
    font-weight: bold;
    color: rgb(44, 44, 44)
}

.info-left-con p {
    margin: 24px 0;
}

.info-left-con .text-bottom {
  margin: 32px 0;
}

.info-right-con {
   border-left: 1px solid #dddddd;
}

.info-right-con-img-item {
    align-items: center;
    border-bottom: 1px solid #dddddd;
    display: flex;
}

.info-right-con-img-item img {
    width: 35%;
    height: auto;
    margin: 16px;
    padding: 16px 16px 16px 16px;
}

.info-right-con-item {
    width: 65%;
}

.info-right-con-item p {
    margin: 10px 0;
}

.info-right-con-item a {
   text-decoration: none;
    color: rgb(65, 134, 231)
}

.info-right-con-img-item:hover {
    background-color: #dddddd;
}